<main class="d-flex gap-3">
    <section>
        <div class="balance-header balance">
            <div class="title mb-2">
                <small>Saldo</small>
                <i class="ph ph-wallet"></i>
            </div>

            <div>
                <h5>
                    R$ 244,00
                </h5>
            </div>
        </div>
    </section>

    <section>
        <div class="income-header">
            <div class="title mb-2">
                <small>Receitas</small>
                <i class="ph ph-chart-line-up"></i>
            </div>

            <div>
                <h5>
                    R$ 244,00
                </h5>
            </div>
        </div>
    </section>

    <section>
        <div class="expenses-header">
            <div class="title mb-2">
                <small>Despesas</small>
                <i class="ph ph-chart-line-down"></i>
            </div>

            <div>
                <h5>
                    R$ 244,00
                </h5>
            </div>
        </div>
    </section>
</main>