<main class="login-page d-flex flex-column">
    <section class="container-section p-0">
        <div class="content-web">
            <div *ngIf="isLoginView" class="section-one">
                <div class="background d-flex flex-column align-items-center justify-content-start pt-5">
                    <i class="ph ph-chart-line-up"></i>
                    <h2 class="fw-bold mb-2">
                        Renda
                        <span class="color-brand">Livre</span>
                    </h2>
                    <span class="fw-bold m-0">Seu dinheiro, suas escolhas.</span>
                    <span class="color-brand m-0">Liberdade para conquistar seus sonhos.</span>

                    <div class="items">
                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <i class="ph ph-chart-line-up fs-1"></i>
                            </div>
                            <div>
                                <p class="fw-bold">Tenha controle total</p>
                                <small class="text-muted">Controle seus ganhos e gastos.</small>
                            </div>
                        </div>

                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <i class="ph ph-shield-check fs-1"></i>
                            </div>
                            <div>
                                <p class="fw-bold">Segurança para você</p>
                                <small class="text-muted">Seus dados protegidos Sempre.</small>
                            </div>
                        </div>

                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <i class="ph ph-target fs-1"></i>
                            </div>
                            <div>
                                <p class="fw-bold">Alcance seus objetivos</p>
                                <small class="text-muted">Planeje e realize seus sonhos.</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="auth-container">
                <router-outlet></router-outlet>
            </div>

            @if (!isLoginView) {
            <div class="d-flex flex-column justify-content-start pt-5 h-100">
                <img src="/assets/images/phone.png" class="register-theme">

                <div class="px-5 py-5">
                    <h1 class="fw-bold">
                        O primeiro passo para sua
                        <span class="color-brand">
                            liberdade financeira
                        </span>
                    </h1>

                    <p class="text-muted w-50 fs-5">
                        No Renda Livre, você tem as ferramentas certas para organizar suas finanças, investir melhor e
                        realizar seus sonhos.
                    </p>
                </div>

                <div class="w-100 list-items d-flex flex-column align-items-center pt-5 gap-5">
                    <div class="d-flex align-items-center gap-3">
                        <div>
                            <i class="ph ph-chart-line-up"></i>
                        </div>
                        <div>
                            <p class="fw-bold">Tenha controle total</p>
                            <small class="text-muted">Controle seus ganhos e gastos.</small>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                        <div>
                            <i class="ph ph-shield-check fs-1"></i>
                        </div>
                        <div>
                            <p class="fw-bold">Segurança para você</p>
                            <small class="text-muted">Seus dados protegidos Sempre.</small>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                        <div>
                            <i class="ph ph-target fs-1"></i>
                        </div>
                        <div>
                            <p class="fw-bold">Alcance seus objetivos</p>
                            <small class="text-muted">Planeje e realize seus sonhos.</small>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </section>

    <!-- <div class="wave-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path fill="#2bb375" fill-opacity="0.4"
                d="M0,160L60,176C120,192,240,224,360,224C480,224,600,192,720,186.7C840,181,960,203,1080,197.3C1200,192,1320,160,1380,144L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>

            <path fill="#1b8552" fill-opacity="1"
                d="M0,192L60,202.7C120,213,240,235,360,224C480,213,600,171,720,165.3C840,160,960,192,1080,202.7C1200,213,1320,203,1380,197.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div> -->
</main>