<main class="login-page d-flex flex-column">
    <section class="container-section p-0">
        <div class="content-web">
            <div *ngIf="isLoginView" class="section-one d-flex flex-column align-items-center justify-content-center">
                <i class="ph ph-chart-line-up"></i>
                <h2 class="fw-bold mb-5">
                    Renda
                    <span class="color-brand">Livre</span>
                </h2>
                <span class="fw-bold m-0">Seu dinheiro, suas escolhas.</span>
                <span class="color-brand m-0">Liberdade para conquistar seus sonhos.</span>
            </div>

            <div class="auth-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>

    <!-- <div class="wave-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path fill="#2bb375" fill-opacity="0.4"
                d="M0,160L60,176C120,192,240,224,360,224C480,224,600,192,720,186.7C840,181,960,203,1080,197.3C1200,192,1320,160,1380,144L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>

            <path fill="#1b8552" fill-opacity="1"
                d="M0,192L60,202.7C120,213,240,235,360,224C480,213,600,171,720,165.3C840,160,960,192,1080,202.7C1200,213,1320,203,1380,197.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div> -->
</main>