.income {
    display: flex;
    align-items: center;
    background-color: #2bab7c1a !important;
    padding: 8px;
    border-radius: 50%;
}

.expense {
    display: flex;
    align-items: center;
    background-color: #df3a3a1a;
    padding: 8px;
    border-radius: 50%;
}

.item-row {
    padding: 8px 10px;
    border-radius: var(--radius-md);

    &:hover {
        background-color: var(--color-gray-200);
    }
}

.item-info {
    line-height: normal;

    small {
        color: var(--color-gray-600);
        font-size: 0.8rem;
    }
}

.empty-list {
    background-color: var(--color-gray-200);
    padding: 8px 12px;
    border-radius: var(--radius-md);
}