.income {
    display: flex;
    align-items: center;
    background-color: #2bab7c1a !important;
    padding: 8px;
    border-radius: 50%;
}

.expense {
    display: flex;
    align-items: center;
    background-color: #df3a3a1a;
    padding: 8px;
    border-radius: 50%;
}

.item-row {
    padding: 8px 10px;
    border-radius: var(--radius-md);

    &:hover {
        background-color: var(--color-gray-200);
    }
}

.item-info {
    line-height: normal;

    small {
        color: var(--color-gray-600);
        font-size: 0.8rem;
    }
}

.empty-list {
    background-color: var(--color-gray-200);
    padding: 8px 12px;
    border-radius: var(--radius-md);
}

.loader-wrap {
    height: 10vh;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--color-primary-600);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}