<main class="d-flex flex-column gap-2">
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="fw-bold">
                Metas
            </h5>

            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-view" type="button" (click)="onViewAllGoals()">
                    <small>Ver todas</small>
                </button>
            </div>
        </div>
    </section>

    @if (isLoading) {
    <section class="fi-loader-wrap d-flex justify-content-center py-2">
        <div class="fi-loader m-auto"></div>
    </section>
    } @else if (goals && goals.length > 0) {
    <section class="d-flex flex-column gap-3">
        @for (goal of goals; track goal.id) {
        <div class="d-flex flex-row card gap-2 px-3 py-2">
            <div class="d-flex align-items-center">
                <i class="goal-icon" [class]="'ph ' + goal.icon"></i>
            </div>

            <div class="w-100">
                <div class="d-flex align-items-center justify-content-between">
                    <span>
                        {{ goal.title }}
                    </span>

                    <span>
                        {{ getProgressPercent(goal) }}%
                    </span>
                </div>

                <div class="goal-progress mt-1">
                    <div class="goal-progress-fill" [style.width.%]="getProgressPercent(goal)"></div>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-1 progress-values">
                    <small>{{ formatCurrency(goal.actualValue) }}</small>
                    <small>De {{ formatCurrency(goal.targetValue) }}</small>
                </div>
            </div>
        </div>
        }
    </section>
    } @else {
    <div class="empty-list d-flex my-1">
        <p class="text-muted m-auto">
            Ainda não há Metas. Crie sua primeira Meta.
        </p>
    </div>
    }
</main>